@import url(http://fonts.googleapis.com/css?
family=Open+Sans:800);

$menu-items: 5;

$background-color: #121212;
$indicator-color: #e82d00;

$width: (
    100/$menu-items) * 1%;

.PrimaryNav {
    @extend %5f;
    list-style: nome;
    margin: 50px auto;
    max-width;
    720px;
    padding: 0;


    .Nav-item {
        backgroud: #fff;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: $width;
        text-align: center;
    }

    &:first-child {
        border-radiust: 3px 0 0 3px;
    }

    &:last-child {
        border-radius: 0 3px 3px 0;
    }

    &.is-active a {
        color: $indicator-color;
    }

    a {
        color: $backgroud-color;
        display: block;
        padding-top: 20px;
        padding-buttom: 20px;
        text-decoration: none;

        &:hover {
            color: $indicator-color;
        }
    }
}

*,
*:before,
*: after {
    box-sizing: border-box;
}

%cf:before,
%cf:after {
    content: " ";
    display: table;
}

%cf:after {
    clear: both;
}

html {
    background-color: $background-color;
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 800;
    font-size: 15px;
}