* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #06c6f1, #07c7dcc9, #0df3c9);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #06c6f1, #07c7dcc9, #0df3c9);
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgb(241, 158, 158);

}

.Logo {
    width: 120px;
    height: 120px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #222246;
    height: 25vh;
}

.menu {
    list-style: none;
    display: flex;

}

.menu li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.Fantasia {
    color: #fff;
    padding: 12px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    margin: 5%;
    width: 450px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0;
    border-radius: 25px;
    border: 0.1px solid #099FFF;
    background-color: #222246;
    box-shadow: 0 4px 8px 0 #00FFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
    margin: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

li:after {
    display: block;
    content: '';
    border-bottom: solid 1px #00FFFF;
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

li:hover:after {
    transform: scaleX(1);
}