* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #06c6f1, #07c7dcc9, #0df3c9);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #06c6f1, #07c7dcc9, #0df3c9);
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgb(241, 158, 158);

}

.Logo {
    width: 120px;
    height: 120px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #222246;
    height: 25vh;
}

.menu {
    list-style: none;
    display: flex;

}

.menu li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.Fantasia {
    color: #fff;
    padding: 12px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    margin: 5%;
    width: 450px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0;
    border-radius: 25px;
    border: 0.1px solid #099FFF;
    background-color: #222246;
    box-shadow: 0 4px 8px 0 #00FFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
    margin: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

li:after {
    display: block;
    content: '';
    border-bottom: solid 1px #00FFFF;
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

li:hover:after {
    transform: scaleX(1);
}

label {
    width: 320px;
    height: 35px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: black;
    margin-top: 30px;
    margin-left: 10px;
}

input {
    box-sizing: border-box;
    background: #222246;
    border: 1.5PX solid #099FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    transition: all 0.5s;
    padding-left: 5%;
    padding: 0.3%;
    color: white;
}

button {
    padding: 8px;
    width: 120px;
    cursor: pointer;
    background: #222246;
    color: white;
    transition: .5s ease;
    border-radius: 10px;
}

button:hover {
    background: transparent;
    border: 2px solid #222246;
    box-shadow: 0 0 10px 0 #222246 inset,
        0 0 10px 4px #222246;
    border-radius: 10px;
}

input::placeholder {
    color: white
}

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Center {
    text-align: center;
}

.table {
    width: 650px;
    height: 320px;
    margin-left: -20%;
}